/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the weather info */
#weather-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

/* Input and button styles */
#search-bar-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-icon {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-icon:hover {
    background-color: #0056b3;
}

/* Weather info styles */
#citynamee {
    font-size: 24px;
    margin: 10px 0;
}

#date {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

#temperature {
    font-size: 32px;
    margin: 10px 0;
}

#description {
    font-size: 18px;
    margin: 10px 0;
}

#highs, #lows {
    font-size: 14px;
    color: #888;
}